body {
  background-image: url(./back.jpg);
  background-size: cover;
  justify-content: center;
  align-self: center;
}

#table {
  display: grid;
  justify-self: center;
}

th {
  font-size: 3vw;
  padding: .5vw;
  border: 3px solid black;
  background-color: white;
}

th:hover {
  background-color: chartreuse;
  cursor: zoom-in;
}

.newSyllable {
  text-align: center;
  font-size: 55vw;
  font-weight: bold;
  background-color: chartreuse;
  position: fixed;
  left: 2vw;
  right: 2vw;
  width: auto;
  top: 25%;
  border-radius: .25em;
  transition: all .25s;
}

.newSyllable:hover {
  cursor: zoom-out;
}