#page {
  background-image: url(./back.jpg);
  background-size: cover;
  text-align: center;
  display: grid;
  grid-template-areas:
          'ch ch ch'
          'p w n';
}

#changeLetters {
  grid-area: ch;
  margin: 0.4em;
}

#word {
  grid-area: w;
  width: 60vw;
  font-size: 70vh;
  align-self: end;
  justify-self: center;
  color: deeppink;
  font-weight: bold;
  transition: all .5s;
}

#prevBtn, #nextBtn {
  border: 0.1em solid crimson;
  width: 5em;
  height: 11em;
  background-color: cyan;
  border-radius: .5em;
}

#prevBtn:hover, #nextBtn:hover {
  cursor: pointer;
}

.prevBtn, .nextBtn {
  justify-content: center;
  align-self: center;
}

.prevBtn {
  grid-area: p;
}

.nextBtn {
  grid-area: n;
}

.changeLettersButton {
  margin: 0.1em;
  font-size: 1.2em;
  background-color: aqua;
  border-radius: 0.25em;
}

.changeLettersButton {
  cursor: pointer;
}

h2 {
  color: crimson;
}